/* Global styles */
body {
  background-color: whitesmoke;
  margin: auto;
  font-family: "Kode Mono", serif;
  font-weight: 600;
  font-size: large;
  line-height: 30px;
  height: 100%;
}

h3 {
  font-family: "Kode Mono", serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;

}
button {
  font-family: "Kode Mono", serif;
  border: 4px double black;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 7px;
  will-change: transform;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer; 
  width:300px;
}

button:hover {
  background-color: cornflowerblue;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 9fr 1fr;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 20px black;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.header {
  font-family: "Kode Mono", serif;
  display: grid;
  grid-template-columns: 6fr 1fr;
  padding: 40px;
  grid-column: 1 / 4;
  grid-row: 1;
  border: 4px dotted black;
  
}

.header .hero {
  grid-column: 1;
  font-size: 30px;
}

.loginHeader {
  grid-column: 2;
  z-index: 5;
  align-self:center;
}

.loginHeader > div {
  font-family: "Kode Mono", serif;
  margin-left: auto;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  transition: transform 250ms;
}

.channels {
  grid-column: 1;
  grid-row: 2/9;
  border: 4px dotted black;
  text-align: center;
  overflow-y: scroll;
}

.main {
  overflow-y: scroll;
  padding: 12px;
  text-align: center;
  grid-column: 2 / 4;
  grid-row: 2/9;
  border: 4px dotted black;
}

.form-group {
  display: flex;
  margin: 30px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}


.form-group input, .form-group button {
  height: 30px; 
  padding: 0 12px; 
  font-size: 14px; 
  border: solid 1px green;
  
}

.button-group {
  margin-top: 50px;
  margin-inline: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.alignedForm error {
  color: gray;
  display: none;
  font-size: 13px;
}

.alignedForm input:invalid ~ error {
  display: inline;
}

#conversationName {
  cursor: pointer; /* Changes the cursor to indicate the element is clickable */
  padding: 5px; /* Adds some padding for visual comfort */
}

#conversationName:hover {
  background-color: rgb(100, 149, 237, 0.7); /* Changes text color on hover */
}


.conversations .form-group textarea[name="post"] {
  width: 80%;
  min-height: 50px;
  height: auto;
  gap: 8px;
  align-items: center;
  font-size: 24px;
} 


.conversations .form-group button {
  width: 50px;
  height: 50px;
}

.postList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

message {
  display: grid;
  border-bottom: 0.4px dotted black; /* Adds a black border around each post block */
  padding: 20px; /* Adds some spacing inside the post block, around the content */
  margin-right:40px; 
  margin-left:40px;
}

message author {
  text-align: left; /* Aligns the author's name to the left */
  font-weight: bold; /* Optional: Makes the author's name bold */
  margin-bottom: 10px; /* Adds some space between the author's name and the post body */
}

message content {
  text-align: left; /* Ensures the body text is aligned to the left */
  /* Additional styling for the post body can go here */
}

#channelNameInput {
  width: 400px;
  height: 50px;
  padding: 0 12px;
  font-size: 14px;
}

#channeledit {
  width: 70px;
  height: 50px;

}

.footer {
  padding: 8px;
  grid-column: 1 / 4;
  grid-row: 9/11;
}

.hide {
  display: none;
}

.notFound {
  justify-content: center; 
  align-items: center; 
  width: 400px; 
  margin: auto; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}